<h1>favorite!</h1>

질문이 있습니다.<br>
이미지를 첨부해보려고 했더니, 
<br>get명령어가 없고 controller에도 img액션이 없다는 에러가 뜨는데
<br>html을 사용할 때 처럼 간단하게 이미지 첨부가 불가능한 것인가요?

<br>Answer<br>
기본적으로 rails에서 root 폴더는 public폴더입니다. <br>
public폴더 안에 img폴더를 만들고 그 안에 이미지를 넣으면 간단하게 해결됩니다.<br>

<img src="http://imgnews.naver.net/image/upload/item/2015/10/01/104526090_2.jpg?type=nf230_168" width="115" height="84" alt="섬네일 이미지">
<img src="img/123.jpg" width="115" height="84" alt="섬네일 이미지">
<img src="http://a5.files.readwrite.com/image/upload/c_fit,w_620/MTIyMzA0MjIxNTQ5OTgwOTUz.png" width="115" height="84" alt="섬네일 이미지">